<header class="flex__between bg-primary h-full px-2 md:px-2">
  <section class="md:hidden">
    <app-drawer></app-drawer>
  </section>
  <section class="flex__start">
    <button 
    (click)="toggleMenuSider()"
    class="rounded-md transition duration-300 h-9 w-9 hover:border-2 hover:bg-primary hidden md:flex__middle  md:hidden mr-2">
      <i class="fa-solid fa-sliders text-xl text__wd"></i>
    </button>
    <app-logo></app-logo>
  </section>
  <section class="h-full md:flex__between md:gap-x-5">
    <app-toggle-avatar class="hidden md:block"></app-toggle-avatar>
    <app-toggle-notifi class="hidden md:block"></app-toggle-notifi>
    <app-toggle-dark-mode></app-toggle-dark-mode>
  </section>
</header>
