@if (user) {
<div class="flex__middle">
  <div class="h-full relative">
    <div class="flex__middle md:py-4">
      <img
        [src]="user.avatar + '?v=' + avatarVersion"
        [alt]="user.fullName"
        class="h-12 w-12 md:h-8 md:w-8 rounded-full object-cover hover:border-2 cursor-pointer"
        (click)="toggleBoxProfile()"
      />
      @if(isShowBoxProfile) {
      <div
        class="fixed bottom-20 md:bottom-auto md:absolute md:top-0.5 right-0 md:mt-14 shadow-lg z-10 bg-white dark:bg-gray-800 border-2 border-primary"
      >
        <div class="w-full p-3">
          <div class="flex__start gap-x-3">
            <img
              [src]="user.avatar + '?v=' + avatarVersion"
              routerLink="/manager-file/profile"
              [alt]="user.fullName"
              class="h-12 w-12 rounded-full object-cover hover:border-2 cursor-pointer"
            />
            <div class="text-sm">
              <p class="font-semibold">{{ user.fullName }}</p>
              <p class="text-xs">
                @if(user.role == 1){ Admin }@else { Người dùng }
              </p>
            </div>
          </div>
          <div class="text-sm text-right mt-2" *ngIf="user.phone">
            <p>{{ user.phone }}</p>
            <p>{{ user.email }}</p>
            <p>{{ user.address }}</p>
          </div>
        </div>
        <ul>
          @for(item of menus; track $index) {
          <li class="hover:bg-primary">
            <a
              (click)="item.click()"
              class="flex__start gap-x-3 p-2 text-sm hover:text-black"
            >
              <span [innerHTML]="item.iconFont"></span>
              <span>{{ item.title }}</span>
            </a>
          </li>
          }
        </ul>
      </div>
      }
    </div>
  </div>
  <div class="md:hidden ml-3">
    <b>
      {{ user.fullName }}
    </b>
    <p>
      {{ user.phone }}
    </p>
  </div>
</div>

<p-dialog
  [(visible)]="isShowDialogUpdateInfo"
  [modal]="true"
  styleClass="w-[100vw] md:w-[25rem] fixed left-0 md:left-auto"
>
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <img
        [src]="user.avatar + '?v=' + avatarVersion"
        [alt]="user.fullName"
        class="h-14 w-14 rounded-full object-cover hover:border-2 cursor-pointer"
      />
      <div class="flex flex-col">
        <span class="font-extrabold whitespace-nowrap text-lg">{{
          user.fullName
        }}</span>
        <span class="font-medium whitespace-nowrap">{{ user.email }}</span>
      </div>
    </div>
  </ng-template>
  <div class="flex items-center mb-4">
    <p-floatlabel variant="in" class="w-full">
      <input
        pInputText
        id="in_label"
        pSize="small"
        [value]="user.phone"
        [disabled]="true"
        class="w-full"
      />
      <label for="in_label">Số điện thoại</label>
    </p-floatlabel>
  </div>
  <form [formGroup]="updateInforForm">
    <div class="flex items-center mb-4">
      <p-floatlabel variant="in" class="w-full">
        <input
          pInputText
          id="fullName"
          pSize="small"
          formControlName="fullName"
          class="w-full"
        />
        <label for="fullName">Họ tên</label>
      </p-floatlabel>
    </div>

    <div class="flex items-center mb-2">
      <p-floatlabel variant="in" class="w-full">
        <input
          pInputText
          id="address"
          pSize="small"
          formControlName="address"
          class="w-full"
        />
        <label for="address">Địa chỉ</label>
      </p-floatlabel>
    </div>

    <div class="flex items-center !my-4">
      <p-fileupload
        mode="basic"
        chooseLabel="Chọn ảnh"
        chooseIcon="pi pi-upload"
        name="avatar"
        styleClass="custom-upload-avatar w-full"
        maxFileSize="20000000"
        (onSelect)="onFileSelect($event)"
        (onError)="onFileUploadError($event)"
        invalidFileSizeMessageDetail="Kích thước file tối đa là 20MB"
        accept="image/*"
      ></p-fileupload>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      label="Hủy"
      [outlined]="true"
      severity="danger"
      (onClick)="isShowDialogUpdateInfo = false"
    ></p-button>
    <p-button
      label="Lưu"
      [outlined]="true"
      severity="success"
      (onClick)="onUpdate()"
      [disabled]="updateInforForm.invalid"
    ></p-button>
  </ng-template>
</p-dialog>

}
