<div class="h-screen max-h-screen max-w-full overflow-x-hidden flex flex-col">
  <div class="sticky top-0 flex-none h-header w-full z-50">
    <app-header></app-header>
  </div>
<div class="grow h-full no-scrollbar overflow-hidden">
  <div class="w-full h-full flex flex-row">
    <div
      class="hidden md:block no-scrollbar border-r-2 border-primary transition-all duration-300 ease-in-out"
      [ngClass]="{
        'w-[250px] overflow-y-auto': isMenuVisible$ | async,
        'w-[50px] overflow-hidden': !(isMenuVisible$ | async)
      }"
    >
      <app-menu-sider
        class="transition-opacity duration-300 ease-in-out">
      </app-menu-sider>
    </div>

    <div class="flex-1 flex flex-col h-full overflow-hidden">
      <!-- Breadcrumb - cố định ở đầu khu vực nội dung -->
      <div class="flex-none">
        <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
      </div>

      <!-- Nội dung router outlet - có thể cuộn -->
      <div class="flex-1 overflow-y-auto scrollbar-thin scrollbar-thumb-gray-400 px-3">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>
  <div class="flex-none md:hidden h-footer w-full"></div>
  <div class="fixed bottom-0 md:hidden h-footer w-full">
    <app-footer></app-footer>
  </div>
</div>

