<div
  [hidden]="!_ready"
  class="pageFadeIn authsOutlet flex__middle relative min-h-screen"
>
  <div
    style="width: 400px; max-width: 90%"
    class="top-1/2 -translate-y-2/3 absolute"
  >
    <h1 class="text-center text-3xl p-2 mb-5 text-primary uppercase">
      {{ "auth.change-password" | translate }}
    </h1>
    <form [formGroup]="resetPasswordForm">
      <div class="p-2">
        <p-floatlabel variant="in" styleClass="w-full ">
          <p-password
            inputStyleClass="w-full"
            styleClass="w-full"
            [toggleMask]="true"
            formControlName="password"
            inputId="passwordInput"
            [promptLabel]="'auth.choose-a-password' | translate"
            [weakLabel]="'auth.password-complexity.too-simple' | translate"
            [mediumLabel]="'auth.password-complexity.average-complexity' | translate"
            [strongLabel]="'auth.password-complexity.good-complexity' | translate"
          >
            <ng-template #header>
              <div class="font-semibold text-xm !mb-2">{{ "auth.pick-a-password" | translate}}</div>
            </ng-template>
            <ng-template #footer>
              <p-divider />
              <ul class="pl-2 ml-2 !mt-2 my-0 leading-normal">
                <li>{{"auth.password-requirements.uppercase" | translate}}</li>
                <li>{{"auth.password-requirements.lowercase" | translate}}</li>
                <li>{{"auth.password-requirements.number" | translate}}</li>
                <li>{{"auth.password-requirements.special-character" | translate}}</li>
                <li>{{"auth.password-requirements.length" | translate}}</li>
                <li>{{"auth.password-requirements.maxlength" | translate}}</li>
              </ul>
            </ng-template>
          </p-password>
          <label for="passwordInput">{{ "auth.password" | translate }}</label>
        </p-floatlabel>
      </div>

      <div class="p-2">
        <p-floatlabel variant="in" styleClass="w-full ">
          <p-password
            inputStyleClass="w-full"
            styleClass="w-full"
            [toggleMask]="true"
            formControlName="confirmPassword"
            feedback="true"
            inputId="confirmPassword"
            [promptLabel]="'auth.choose-a-password' | translate"
            [weakLabel]="'auth.password-complexity.too-simple' | translate"
            [mediumLabel]="'auth.password-complexity.average-complexity' | translate"
            [strongLabel]="'auth.password-complexity.good-complexity' | translate"
            [ngClass]="{'ng-invalid ng-dirty': isConfirmPasswordInvalid}"
          >
          <ng-template #header>
              <div class="font-semibold text-xm !mb-2">{{ "auth.repeat-password" | translate}}</div>
            </ng-template>
            <ng-template #footer>
              <p-divider />
              <ul *ngIf="resetPasswordForm.get('confirmPassword')?.touched"
              class="!mt-2 my-0 leading-normal text-red-500">
                <li *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">{{"auth.password-requirements.required" | translate}}</li>
                <li *ngIf="resetPasswordForm.errors?.['passwordMismatch']">{{"auth.password-requirements.passwor-mismatch" | translate}}</li>

              </ul>
            </ng-template>
        </p-password>
          <label for="confirmPassword">{{
            "auth.repeat-password" | translate
          }}</label>
        </p-floatlabel>
      </div>

      <div class="p-2">
        <p-button
          [disabled]="!resetPasswordForm.valid"
          (onClick)="onConfirm()"
          [label]="'auth.confirm-change-password' | translate"
          styleClass="w-full"
        />
      </div>

    </form>

    <div class="w-full text-center !mt-3">
     <a
        (click)="goBack()"
        class="text-sky-700 dark:text-sky-300 font-medium "
        ><i class="fa-solid fa-right-long"></i> {{'app.go-back' | translate}}</a
      >

    </div>
  </div>
</div>
