<div [hidden]="!_ready" class="pageFadeIn authsOutlet flex__middle">
  <div style="width: 400px; max-width: 90%" class="py-8">
    <p class="text-center text-black !text-3xl p-2 my-5">Đăng nhập</p>

    <div class="p-2">
      <p-iftalabel class="rounded-xl">
        <input
          pInputText
          id="usernameInput"
          class="w-full rounded-xl"
          placeholder="name@example.com"
          [(ngModel)]="loginData.username"
        />
        <label for="usernameInput">Số điện thoại/ địa chỉ email</label>
      </p-iftalabel>

      <p-floatlabel variant="in">
    <input pInputText id="in_label" [(ngModel)]="value1" autocomplete="off" />
    <label for="in_label">In Label</label>
</p-floatlabel>

    </div>

    <div class="p-2">
      <p-floatlabel variant="in" styleClass="w-full rounded-xl">
        <p-password
        

          inputStyleClass="w-full rounded-xl"
          styleClass="w-full rounded-xl"
          [toggleMask]="true"
          inputId="passwordInput"
        />
        <label for="in_label">Mật khẩu</label>
      </p-floatlabel>
    </div>

    <div class="p-2">
      <button
        type="button"
        mat-flat-button
        color="primary"
        class="w-full"
        (click)="loginByPassword()"
      >
        <i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Đăng nhập
      </button>
    </div>
    <div class="p-2">
      <button
      (click)="loginByOtp()"
        mat-stroked-button
        class="w-full text-start"
      >
      <i class="fa-solid fa-comment-sms me-3"></i> Đăng nhập với OTP
      </button>
    </div>

    <div class="p-2">

      <button
      (click)="forgotPassword()"
        mat-stroked-button
        class="w-full text-start"
      >
      <i class="fa-solid fa-key me-3"></i>Quên mật khẩu?
      </button>

    </div>
    <div class="p-2">

      <button
      (click)="signupByEmail()"
        mat-stroked-button
        class="w-full text-start"
      >
      <i class="fa-solid fa-envelope me-3"></i>Đăng ký với Email
      </button>
    </div>

    <div class="p-2">
      <button
      (click)="signupByPhone()"
        mat-stroked-button
        class="w-full text-start"
      >
      <i class="fa-solid fa-phone me-3"></i>Đăng ký với số điện thoại
      </button>
    </div>
  </div>
</div>
