
<ul class="w-full flex__around md:flex__between gap-x-5">
    <li class="hidden md:block">
      <div class="flex__middle">
         <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" class="hover:border-2"  shape="circle" />
      </div>
    </li>
    <li>
      <button class="text-white  rounded-md transition duration-300 h-9 w-9 hover:border-2 hover:bg-primary flex__middle text-xl">
        <i class="fa-solid fa-house"></i>
      </button>
    </li>
    <li>
      <button class="text-white rounded-md transition duration-300 h-9 w-9 hover:border-2 hover:bg-primary flex__middle text-xl">
        <i class="fa-solid fa-bell"></i>
      </button>
    </li>
    <li>
      <button class="text-white  rounded-md transition duration-300 h-9 w-9 hover:border-2 hover:bg-primary flex__middle text-xl">
        <i class="fa-solid fa-cog"></i>
      </button>
    </li>
    <li class="md:hidden">
      <button class="text-white  rounded-md transition duration-300 h-9 w-9 hover:border-2 hover:bg-primary flex__middle text-xl">
        <i class="fa-solid fa-user"></i>
      </button>
    </li>
</ul>

