
<ul class="w-full flex__around menu__bar">
    <li>
      <a
      routerLink="/manager-file/my-files"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active__menu__bar"
      class="btn__menu__bar">
        <i class="fa-solid fa-house"></i>
      </a>
    </li>
    <li>
      <a
      routerLink="/manager-file/notification"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active__menu__bar"
      class="btn__menu__bar">
        <i class="fa-solid fa-bell" pBadge [value]="notifi" severity="danger"></i>
      </a>
    </li>
    <li>
      <a
      routerLink="/manager-file/setting"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active__menu__bar"
      class="btn__menu__bar">
        <i class="fa-solid fa-cog"></i>
      </a>
    </li>
    <li>
      <a
      routerLink="/manager-file/profile"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active__menu__bar"
      class="btn__menu__bar">
        <i class="fa-solid fa-user"></i>
      </a>
    </li>
</ul>

