

      <div class="flex flex-wrap gap-2">
        <p-button label="Toast Success" severity="success" (click)="showSuccessToast()"></p-button>
        <p-button label="Toast Success với Action" severity="success" (click)="showSuccessToastWithAction()"></p-button>

        <p-button label="Toast Info" severity="info" (click)="showInfoToast()"></p-button>
        <p-button label="Toast Info với Action" severity="info" (click)="showInfoToastWithAction()"></p-button>

        <p-button label="Toast Warning" severity="warn" (click)="showWarningToast()"></p-button>
        <p-button label="Toast Warning với Action" severity="warn" (click)="showWarningToastWithAction()"></p-button>

        <p-button label="Toast Error" severity="danger" (click)="showErrorToast()"></p-button>
        <p-button label="Toast Error với Action" severity="danger" (click)="showErrorToastWithAction()"></p-button>
      </div>

