<div
  [hidden]="!_ready"
  class="pageFadeIn authsOutlet flex__middle relative min-h-screen"
>
  <div
    style="width: 400px; max-width: 90%"
    class="top-1/2 -translate-y-2/3 absolute"
  >
    <h1 class="text-center text-3xl p-2 mb-5 text-primary uppercase">
      {{ "auth.login" | translate }}
    </h1>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <app-form-email-otp-child
      [parentForm]="loginForm"
        otpType="login"
        (otpStatusChange)="otpStatus = $event"
      ></app-form-email-otp-child>

      <div class="p-2">
        <p-button
          type="submit"
          [disabled]="loginForm.invalid"
          [label]="'auth.login' | translate"
          styleClass="w-full"
        />
      </div>
    </form>

    <div class="w-full text-center">
      <a
        routerLink="/auth/login"
        class="text-sky-700 dark:text-sky-300 font-medium"
        >{{ "auth.login-with-password" | translate }}</a
      >
      <app-link-register-forgot-password></app-link-register-forgot-password>
    </div>
  </div>
</div>
