@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primeng, tailwind-utilities;
@layer reset, primeng;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}
:root{
  --h-header-height: 50px;
  --h-footer-height: 50px;
}

html,
body {
  height: 100%;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}



@layer base{

 .pageFadeIn {
   animation: waitFadeIn 0.5s ease-in;
 }

}

@layer components{
    button, a{
        @apply cursor-pointer
    }

}

@layer utilities {
    .flex__middle {
        @apply flex justify-center items-center;
    }

    .flex__start {
        @apply flex justify-start items-center;
    }

    .flex__between {
        @apply flex justify-between items-center;
    }

    .flex__evenly {
        @apply flex justify-evenly items-center;
    }

    .flex__around {
      @apply flex justify-around items-center;
    }

    .flex__end {
        @apply flex justify-end items-center;
    }

    h1{
      @apply text-5xl font-bold
    }

    h2 {
      @apply text-4xl font-bold
    }

    h3 {
      @apply text-3xl font-semibold
    }

    h4{
      @apply text-2xl font-semibold
    }

    h5 {
      @apply text-xl font-medium
    }

    h6 {
      @apply text-lg
    }

    .h-header{
      @apply h-[var(--h-header-height)] ;
    }

    .h-footer{
      @apply h-[var(--h-footer-height)] ;
    }
}

@layer reset {


}


